
/* header layout */
body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7em;
  font-size: 90%;

  > * {
    flex: .5;
  }

  > :nth-child(2) {
    text-align: center;
    flex: 1;
  }

  /* logo */
  > a img { width: 2em; }

  /* non-buttons */
  nav > a:not([role]) {
    margin: 0 1em;
    font-weight: 500;
  }

  [role="button"] {
    padding: .5em 1em;
    background-color: black;
  }

  > :last-child { text-align: right }
}
