
/* A shared CSS file. Hard linked from the @base folder */

button, [role="button"] {
  background-color: var(--gray-800);
  border-radius: .5em;
  padding: .7em 1.4em;
  display: inline-block;
  text-align: center;
  font-weight: 550;
  color: white;
  border: 0;

  &.secondary {
    box-shadow: 0 0 0 1px var(--gray-200);
    background-color: white;
    color: inherit;
  }

  &[disabled] {
    background-color: var(--gray-200);
    color: white;
  }

  /* states */
  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-color: var(--gray-950);
      text-decoration: none;
    }
    &:active { transform: scale(.98) }
    &.secondary:hover {
      box-shadow: 0 0 0 1px var(--gray-300);
      background-color: white;
    }
  }
}