

.hero {
  margin-bottom: 8vw;

  [role=button] {

    /* followup button */
    + a {
      margin-left: .3em;
    }
    + p {
      margin-top: 3em;
      font-size: 90%;
    }
  }

  > :last-child { flex: 1.5 }
  @media (min-width: 900px) {
    align-items: flex-end;
  }
}

