
:root {
  --main: #ff00df;
}

body {
  padding: 1em 2em;
  font-size: 110%;
}

main {
  max-width: 800px;
  margin: 0 auto;
}


h1 {
  font-size: 4.5em;
  font-weight: 900;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  line-height: 1;
  margin: 0 0 .1em;
}

p {
  margin: 0 0 1em;
}

h1 + p {
  font-size: 1.5em;
}

/* hero img */
picture img {
  transform: scale(1.2);
  margin: 7em 0;
}

h2, h3 {
  margin: 0 0 .3em;
}

button, [role=button] {
  border-radius: 4px;
  margin-right: .44em;
}

