
*, *::before, *::after {
  box-sizing: border-box
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
  margin: 0;
}

a {
  text-decoration: none;
  text-underline-offset: 3px;
  color: var(--link);

  &:hover {
    text-decoration: underline var(--gray-300);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  background: linear-gradient(#fff1, transparent);
  box-shadow: 0 1px 4px #fff1;
  border-radius: 1em;
  padding: 2.5em;
}