
::placeholder {
  color: #5d5f6c;
}

:focus-visible {
  outline: 2px solid #2A64F6
}

label {
  text-align: left;
  margin-bottom: 1.5em;
  display: block;

  h3 {
    font-size: 100%;
  }
}

input, textarea {
  font-family: inherit;
  border-radius: .4em;
  font-size: inherit;
  background: #2c2e39;
  color: white;
  padding: 1em;
  width: 100%;
  border:0;

  &:focus {
    background: transparent;
  }

}