
/* TODO: remove main wrap */
body {

  h1 + p {
    max-width: 36em;
    margin-bottom: 4em;
  }

  h2 + p {
    max-width: 32em;
  }

}


.grid {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  max-width: 900px;
  margin: 4em 0;
  display: grid;
  gap: 4em;

  /* TODO: remove this */
  ul { display: none; }

  img { max-height: 8em; }

  p {
    font-size: 90%;
    margin: 0;
    color: var(--gray-500);
  }
}