
h1 {
  font-size: calc(4em + 6vw);
  + p { margin: 0 0 1em }
}

main > img {
  margin-bottom: 3em;
  transition: filter .5s;
}

.stack {
  text-align: left;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 8em;

  /* details */
  > :last-child { flex: .6 }
}




