
button, [role="button"] {
  background-color: var(--main);
  border-radius: var(--button-radius, .3em);
  display: inline-block;
  padding: 1em 2em;
  transition: .1s;
  font-weight: 550;
  font-size: 105%;
  cursor: pointer;
  color: var(--gray-50);
  text-align: center;
  border: 0;

  &:hover {
    background-color: var(--main-600);
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }

  &.secondary {
    box-shadow: 0 0 0 1px var(--gray) inset;
    background: transparent;
    color: var(--gray-dark);

    &:hover {
      box-shadow: 0 0 0 1px black inset;
      color: black;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tabs > ul {
  list-style: none;
  padding: 0;

  > li { visibility: hidden; height: 0 }
  .selected { visibility: visible; height: auto }
}

