body {
  padding: 2em;
  font-family: avenir next;
}

h1 {
  margin: 0 0 .1em;
}

h1 + p {
  font-size: 1.3rem;
}

body > p {
  color: #555;
  margin: 0 0 1em;
}

blockquote {
  margin: 1.5em 0;
  font-weight: 550;
  font-size: 1.3rem;
  padding: 0 1em;
  border-left: 5px solid black;
  max-width: 20em
}

h2 {
  font-weight: 550;
  margin: 2em 0 .3em;
}
