
/* A shared CSS file. Hard linked from the @base folder */
:root {
  --main-50: #f0f9ff;
  --main-100: #e0f2fe;
  --main-200: #bae6fd;
  --main-300: #7dd3fc;
  --main-400: #38bdf8;
  --main-500: #0ea5e9;
  --main-600: #0284c7;
  --main-700: #0369a1;
  --main-800: #075985;
  --main-900: #0c4a6e;
  --main-950: #082f49;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --gray-950: #0a0a0a;

  --warning:  #fb923c;
  --success:  #4ade80;
  --error:    #ef4444;
  --link:     var(--main-500);
  --selected: var(--main-500);
  --marker:   #facc15;

  /* background colors */
  --bg-alt-light: #cee;
}


body {
  background: linear-gradient(var(--gray-100), white) no-repeat;
  padding: 3% 5%;

  > header {
    margin-bottom: 8em;

    > a img { max-height: 1.5em }
    aside { margin-left: auto }
  }

  > footer {
    margin: 8em 0 4em;
  }
}

[active] {
  text-decoration: underline;
  text-underline-offset: 10px
}

h1 {
  font-size: calc(2em + 1.6vw);
  letter-spacing: -.04em;
  line-height: 1.05;
  font-weight: 800;
  text-wrap: balance;
  margin: 0;

  + p {
    font-size: calc(1.2em + .5vw);
    margin: .5em 0 1.2em;
    font-weight: 300;
    text-wrap: balance;
  }
}

h2 {
  font-size: 1.4em;
  font-weight: 550;
  line-height: 1.3;
  margin: 0 0 1em;
  flex: .3;
}

h3 {
  font-size: 95%;
  font-weight: 550;
  margin: .5em 0;
}

img { border-radius: .4em }

p {
  color: var(--gray-600);
  font-size: 1.1em;
  line-height: 1.5;
}

main a {
  color: var(--link);
  font-weight: 550;
}

.card {
  background-color: white;
  border: 1px solid var(--gray-100);
  border-radius: .4em;
  padding: max(4%, 1.5em) 4%;
}

/* view transition */
::view-transition-old(root) {
  transform: scale(.97);
  transition: .2s;
}

blockquote {
  p {
    font-weight: 700;
    letter-spacing: -.04em;
    color: black;
    font-size: 1em;
  }
  footer {
    font-weight: 500;
  }
}

article {
  h3 { font-size: 105% }
  li { margin: 0 }
}
