
::placeholder {
  color: var(--gray-400);
}

input {
  background: var(--gray-100);
  font-family: inherit;
  border-radius: .4em;
  font-size: inherit;
  padding: 1em;
  width: 100%;
  border:0;

  &:focus {
    background: white;
  }

}

:focus-visible {
  outline: 2px solid var(--main-500);
}