
/**
 * The contents of this file is included on the generated
 * HTML file for quicker page load
 */

/* Normalize */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

/* Layout */
body > * {
  max-width: 920px;
  margin: 0 auto;
  padding: 2em;
}

main {
  text-align: center;
}

main > header {
  margin-bottom: 2em;
}

/* Typography */
body {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto, Noto Sans, Helvetica Neue;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #4a4f53;
}

h1, h2, h3 {
  color: black;
  line-height: .9;
}

h1 {
  font-size: 5.5em;
  font-weight: 900;
  margin-bottom: .1em;
}

h3 {
  margin-bottom: .2em;
}

h1 + p {
  font-size: 1.6em;
}

/* Master navigation */
.mastnav {
  justify-content: space-between;
  margin-bottom: 2.5em;
  align-items: center;
  margin-bottom: 1em;
  display: flex;
}

.mastnav a {
  display: inline-block;
  transition: transform .1s;
}

.mastnav a:hover {
  transform: scale(1.05);
}

.mastnav a:active {
  transform: scale(.99);
}

.icon {
  width: 1.4em;
  margin-left: .5em;
}

.logo {
  max-height: 2em;
}

/* Project list */
.grid {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1.08em;
  gap: 1.5em;
  padding: 0;
}

.grid li {
  box-shadow: 0 1px 2px #0001, .1em .4em 1em rgba(0,0,0,0.08);
  border-radius: 2px;
  padding: 1.2em 1.6em;
  text-align: left;
}

/* Footer */
footer  {
  font-size: 1.8em;
  padding: 3em;
}

/* Mobile layout */
@media (max-width: 900px) {
  main > header {
    font-size: 80%;
  }
  h1 {
    font-size: 4.3em;
  }

  h1 + p {
    max-width: 14em;
    margin: 0 auto 2em;
  }

  .grid {
    grid-template-columns: 100%;
    max-width: 440px;
    margin: 0 auto;
    font-size: .95em;
  }
}
